<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./review.css">
    <title>Document</title>
</head>
<body>
    <div class="review_title">
        리뷰
    </div>
    <img class="review_user1" src="../../img/김지원_ 1.png" alt="My review1">
    <div class="review_user1_name">
        김미모
        2022.02.24
    </div>
    <img class="review_user1_prod" src="../../img/3586ef9e95cc88e6a4e36d68094ca76a 1.png" alt="My review1_prod">
    <div class="review_contents1">
        색상 다 너무 예쁘고 정말 입술에 편안하게 올라갑니다. 매트립 좋아하시는 분들은 좋아하실 거 같아요.
        <img class="akar-iconsheart" src="../../img/akar-icons_heart.png">
    </div>
    <div class="review_user1_count">218</div>
    <img class="review_user2" src="../../img/Instagram 1.png" alt="My review2">
    <div class="review_user2_name">
        엔코뷰티
        2022.02.10
    </div>
    <img class="review_user1_prod" src="../../img/be86113361437c786ea6223586ba7cd1.jpeg" alt="My review2_prod">
    
    <div class="review_contents2">
        3개나 샀어요ㅠㅠㅠ 너무예쁘고 진짜 가볍고 포근하게 올라가요 단점은 묻어남이 많다는거?! 그거말고는 지워질때도 색이 이쁘게지워져서 넘...
    </div>
    <img class="akar-iconsheart" src="../../img/akar-icons_heart.png">
    <div class="review_user1_count">323</div>

</body>
</html>