 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="stylesheet" href="./css/product.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>product</title>
 </head>
 <body>
    <img src="./image/mimo.png" class="logo_back">
    <img src="./image/롬앤제로벨벳틴트.jpeg" class="product_prod">
    <div class="prod_title">롬앤</div>
    <p>롬앤 제로 벨벳 틴트 #오리지널시리즈</p>
    <p>판매가 8,400</p>
    <img src="./image/basket.png" class="">
    <img src="./image/pay.png" class="">
    <div class="prod_blank"></div>
    <p>상품소개</p>
    <img src="./image/ZERO_VELVET_TINT_04_shop1_193337.jpeg" class="prod_contents">
 </body>
 </html>