
 
.first-nav{
  background:ivory;
  border: 3px solid olive;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow:visible;
  
  }
.second-nav{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  flex-grow: 2;
}
 
.third-nav{
  margin : 15px 0px 20px 5px;
  width: 150px;
  object-fit: scale-down;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.left{
  border: none;
}

.right{
  border:none;
}
  .header {
    flex-grow: 2;
    background:floralwhite;
    color:indianred;
    font-weight: 400;
    font-size: 30px;
  }
.eventimagesample{
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;

}
.eimage1{
  border-radius: 15px 50px 30px;
}

.eimage2{
  border-radius: 15px 50px 30px; 
}

#mypage{
    float: right;
    height:min-content;
  }
#basket{
  float: right;
  height:min-content;
}
  
.eventimagesample{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}
.fourth-nav{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
 
}
.recommenditemtext {
  background:whitesmoke;
 flex-grow: initial;
  text-align:left;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;

}
 
.bestitemtext {
  background:whitesmoke;
 flex-grow: initial;
  text-align:left;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
 

.recommenditemimagesample {
  display:  flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}
 
 
.recommenditemgimg1 img{
  padding: 0px 15px 10px 10px;
}
  
.recommenditemgimg2 img{
  padding: 0px 15px 10px 10px;
}
.recommenditemgimg3 img{
  padding: 0px 15px 10px 10px;
}
.recommenditemgimg4 img{
  padding: 0px 15px 10px 10px;
}

 
  
.bestimagesample{ 
    column-count: 2;
  padding: 10px;

  }
 
.bestimagesample img{
    padding: 0px 0px 10px 0px;
  }