
.Screen{
   background-color: white;
   height: 640px;
   position: relative;
   animation-name: example;
   animation-duration: 3s;  
   animation-fill-mode: forwards;
}

.Logo{
    position:  relative;
    top : 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
    
}

.loginscope{
    position:  relative;
    top : 25%;
    margin: 20px 0px 20px 20px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    overflow:visible;
    justify-content: center;
    align-items: center;
    
}

.naver{
    flex-basis: 70px;
    object-fit: contain;
}

.kakao{
    flex-basis: 70px;
}
 
.google{
    flex-basis: 70px;
}

 
@keyframes example {
    from {top: 0px;}
    to {top: 0px; background-color: pink;}
  }